body {
    font: Roboto, san sarif;
}

header,main,footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid;
    background-color: blue;
    border-color: blue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: white;
}