
:root {
    --primary-color: #252560;
    --secondary-color: #d8daa4;
    --accent-color: #2c5e77;
    --text-light: #ffffff;
    --text-dark: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    background: linear-gradient(to bottom, var(--secondary-color), #2c5e77);
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: var(--primary-color);
    padding: 1.5rem;
    text-align: center;
    /* margin-left: -165px;
    margin-right: -170px; */
    width: 100%;
    
}

h1, h2, h3 {
    font-family: 'Big Shoulders Stencil', sans-serif;
    color: rgb(238, 238, 245);
    margin: 0 0 1rem;
    background-color:var(--primary-color);
    text-align: center;
    margin-top: -15px;
    padding: 2%;
    margin-left: -15px;
    margin-right: -15px;
    
}

.highlight {
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--text-dark);
    margin-bottom: -30px;
    margin-right: -25px;
    margin-left: -25px;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
}

main {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    background: var(--text-light);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-column: 1;
    /* margin-bottom: -20px;
    margin-left: -100px; */
}



.content-wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: center;

}

.profile-img,.village-img {
    width: 200px;
    height: auto;
    border: 3px solid var(--accent-color);
    border-radius: 4px;

    
}

.resources-card {
    background: var(--text-light);
    padding: 1.5rem;
    top: 1rem;
    grid-column: 2; 
    grid-row: 1 / span 2; 
    top: 20px; 
    border-width: 10px;
    border-radius: 10px;  
    height: 95%; 
    width: 300px;
    border: 3px solid var(--primary-color);
    text-align: center;
    
}

.resources-card li {
    margin: 0.8rem 0;
    padding-bottom: 14%;
    margin-top: 15%;


}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: -170px;
    margin-right: -170px;
}

.update-info {
    color: var(--secondary-color);
    font-size: 0.9em;
    margin: 0.5rem 0;
}

#area{
    background-color: var(--primary-color);
    margin: auto;
    margin-bottom: 15px;
    margin-top: -20px;
    margin-left: -15px;
    margin-right: -15px;
    
}
